@model SneakerSeeker3.Models.ItemColor

@{
    ViewData["Title"] = "Edit";
}

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="col-12 col-lg-12">
                <h2>Edit Color</h2>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ItemColorId" />
                            <div class="form-group">
                                <label asp-for="Color" class="control-label"></label>
                                <input asp-for="Color" class="form-control" />
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" style="border: solid 2px" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
