@model IEnumerable<SneakerSeeker3.Models.Product>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}



<!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <h2>NEW IN - OUR LATEST COLLECTION</h2>
        <br /><br />
        <div class="amado-pro-catagory clearfix">



            @foreach (var product in Model)
            {
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="@Url.Action("Details", "Shop", new { Id = product.ProductId })">
                        <img src="@(product.ProductURL)" alt="">
                        <div class="hover-content">
                            <div class="line"></div>

                            <p>CAD@(product.UnitPrice)</p>
                            <h4>@(product.ProductName)</h4>

                        </div>
                    </a>

                </div>

            }
        </div>
    </div>
   
<!-- Product Catagories Area End -->
  
