@model SneakerSeeker3.Models.Supplier

@{
    ViewData["Title"] = "Delete";
}
<div class="cart-table-area section-padding-100">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Supplier</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.URL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.URL)
            </dd>
        </dl>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="SupplierId" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
