@model SneakerSeeker3.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}
<div class="cart-table-area section-padding-100">
<<<<<<< Updated upstream
    <h2>Edit</h2>
 
    <h4>Supplier</h4>
    <hr />
    <div class="table-responsive-sm">
        <div class="table table-hover table-fixed">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SupplierId" />
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="URL" class="control-label"></label>
                    <input asp-for="URL" class="form-control" />
                    <span asp-validation-for="URL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn amado-btn mb-15" />
=======
    <div class="container-fluid">
        <div class="col-12 col-lg-8">
            <h2>Edit</h2>

            <h4>Supplier</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SupplierId" />
                        <div class="form-group">
                            <label asp-for="CompanyName" class="control-label"></label>
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="URL" class="control-label"></label>
                            <input asp-for="URL" class="form-control" />
                            <span asp-validation-for="URL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>

>>>>>>> Stashed changes
                </div>

            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
