@model SneakerSeeker3.Models.Product

@{
    ViewData["Title"] = "Edit";
}


    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="col-12 col-lg-12">
                <h2>Edit Information of This Shoes Here</h2>

                <hr />
                @*<div class="row">*@
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductId" />
                        <div class="form-group">
                            <label asp-for="SKU" class="control-label"></label>
                            <input asp-for="SKU" class="form-control" />
                            <span asp-validation-for="SKU" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductDescription" class="control-label"></label>
                            <input asp-for="ProductDescription" class="form-control" />
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UnitPrice" class="control-label"></label>
                            <input asp-for="UnitPrice" class="form-control" />
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductURL" class="control-label"></label>
                            <input asp-for="ProductURL" class="form-control" />
                            <span asp-validation-for="ProductURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label">Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SupplierId" class="control-label">Supplier</label>
                            <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ItemColorId" class="control-label">Color</label>
                            <select asp-for="ItemColorId" class="form-control" asp-items="ViewBag.ItemColorId"></select>
                            <span asp-validation-for="ItemColorId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" style="border: solid 2px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
