@model SneakerSeeker3.Models.Order


@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Checkout</h2>
                    </div>

                    <form asp-action="Checkout">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col-md-6 mb-3">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Province" class="control-label"></label>
                                <input asp-for="Province" class="form-control" maxlength="2" />
                                <span asp-validation-for="Province" class="text-danger"></span>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="PostalCode" class="control-label"></label>
                                <input asp-for="PostalCode" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" type="tel" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>


                        </div>


                        <div class="cart-btn mt-100">
                            <button type="submit" value="Next" class="btn amado-btn w-100">Next</button>
                        </div>
                    </form>


                </div>
            </div>



            
              
            
        </div>
        </div>
    </div>

