@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="checkout_details_area mt-50 clearfix">
                       
                                    <h2>Cart Total</h2>
                                    <div class="cart-summary ">

                                        <ul class="summary-table">
                                            <li><span>Subtotal:</span> <span>@String.Format("{0:c}", ViewBag.Total)</span></li>
                                            <li><span>Delivery:</span> <span>Free</span></li>
                                            <li><span>Total:</span> <span>@String.Format("{0:c}", ViewBag.Total)</span></li>
                                        </ul>

                                      
                                        <div class="cart-btn mt-100">
                                            <form method="post">
                                                <script src="https://checkout.stripe.com/checkout.js"
                                                        class="stripe-button"
                                                        data-amount="@ViewBag.CentsTotal"
                                                        data-name="SneakerSeeker Payment"
                                                        data-currency="cad"
                                                        data-key="@ViewBag.PublishableKey"></script>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

