@using Microsoft.AspNetCore.Identity
@using SneakerSeeker3.Models
@inject SignInManager<SneakerSeekerUser> SignInManager
@inject UserManager<SneakerSeekerUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="amado-btn-group mt-30 mb-100">
        <ul class="amado-btn-group mt-30 mb-100">
            <li class="nav-item mr-auto">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size: 14px; text-transform: uppercase"><p>Welcome to SS</p> @UserManager.GetUserName(User)!<br />Edit Profile</a>
            </li>
            <br /><br />
            <li class="nav-item mr-auto">
                <button type="submit" class="btn amado-btn mb-15" >Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <div class="amado-btn-group mt-30 mb-100">
        <a class="btn amado-btn mb-15" asp-area="Identity" asp-page="/Account/LogIn">Sign In</a>
        <a class="btn amado-btn active" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    </div>
}